body {
    font-family: Arial, sans-serif;
    background-color: #b3cfb3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid white;
}

th {
    background-color: #4CAF50;
    color: white;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

@media (max-width: 600px) {
    body {
        font-size: 18px;
    }

    th, td {
        padding: 12px;
    }
}